<div class="table-responsive">
  <table  id="userListTableSkeleton" class="table-skeleton table table-bordered table-hover caption-top">
    <caption>
      <h3 class="h3 table-skeleton-title skeleton"></h3>
    </caption>
    <thead class="table-light text-center">
      <tr>
        <th scope="col">
          <div class="table-skeleton-th skeleton"></div>
        </th>
        <th scope="col">
          <div class="table-skeleton-th skeleton"></div>
        </th>
        <th scope="col">
          <div class="table-skeleton-th skeleton"></div>
        </th>
        <th scope="col">
          <div class="table-skeleton-th skeleton"></div>
        </th>
      </tr>
    </thead>
    <tbody class="text-center">
      <tr>
        <td>
          <div class="table-skeleton-td skeleton"></div>
        </td>
        <td>
          <div class="table-skeleton-td skeleton"></div>
        </td>
        <td>
          <div class="table-skeleton-td skeleton"></div>
        </td>
        <td>
          <div class="table-skeleton-td skeleton"></div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="table-skeleton-td skeleton"></div>
        </td>
        <td>
          <div class="table-skeleton-td skeleton"></div>
        </td>
        <td>
          <div class="table-skeleton-td skeleton"></div>
        </td>
        <td>
          <div class="table-skeleton-td skeleton"></div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="table-skeleton-td skeleton"></div>
        </td>
        <td>
          <div class="table-skeleton-td skeleton"></div>
        </td>
        <td>
          <div class="table-skeleton-td skeleton"></div>
        </td>
        <td>
          <div class="table-skeleton-td skeleton"></div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="table-skeleton-td skeleton"></div>
        </td>
        <td>
          <div class="table-skeleton-td skeleton"></div>
        </td>
        <td>
          <div class="table-skeleton-td skeleton"></div>
        </td>
        <td>
          <div class="table-skeleton-td skeleton"></div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="table-skeleton-td skeleton"></div>
        </td>
        <td>
          <div class="table-skeleton-td skeleton"></div>
        </td>
        <td>
          <div class="table-skeleton-td skeleton"></div>
        </td>
        <td>
          <div class="table-skeleton-td skeleton"></div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="table-skeleton-td skeleton"></div>
        </td>
        <td>
          <div class="table-skeleton-td skeleton"></div>
        </td>
        <td>
          <div class="table-skeleton-td skeleton"></div>
        </td>
        <td>
          <div class="table-skeleton-td skeleton"></div>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td class="text-center" colspan="4">
          <div class="table-skeleton-pagination skeleton"></div>
        </td>
      </tr>
    </tfoot>
  </table>
  <table id="userListTable" class="table table-bordered table-hover caption-top" style="display: none;">
    <caption>
      <h3 class="h3">Users</h3>
    </caption>
    <thead class="table-light text-center">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Number Of Logon</th>
        <th scope="col">Last Session Timestamp (milliseconds)</th>
        <th scope="col">Sign Up Timestamp (milliseconds)</th>
      </tr>
    </thead>
    <tbody class="text-center">
      <tr>
        <td colspan="4">
          Loading...
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4">
          <nav aria-label="user list navigation">
            <ul id="userListPagination" class="pagination justify-content-center mb-0">
              <li class="previous-btn page-item disabled"><a class="page-link" href="javascript: void(0)">Previous</a></li>
              <li class="page-item active"><a class="page-link" href="javascript: void(0)">1</a></li>
              <li class="next-btn page-item disabled"><a class="page-link" href="javascript: void(0)">Next</a></li>
            </ul>
          </nav>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
