{
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "globals": {
    "$": true,
    "validate": true,
    "axios": true,
    "bootstrap": true,
    "globalTool": true,
    "moment": true,
    "_": true
  },
  "rules": {
    "consistent-return": "off"
  }
}
