<% layout('layout/basicLayout') -%>

<h2 class="visually-hidden"><%=title%></h2>

<div class="text-center">
  <img class="img-fluid rounded mx-auto d-block" src="/static/image/todo.jpeg" alt="todo" />
</div>
