<% layout('layout/basicLayout') -%>

<h2 class="visually-hidden">Home</h2>

<div class="text-center">
  <img class="img-fluid rounded mx-auto d-block" src="/static/image/todo.jpeg" alt="內容施工中" />
</div>
