<% layout('layout/basicLayout') -%>

<h2><%=title%></h2>

<p>
  We are committed to the protection of your privacy and personal information.
</p>

<p>
  This Privacy Policy is to describe what information we will collect,
  how we process and share it,
  and how you can manage and control the information we collect through <%=appName%> that is owned and controlled by us.
</p>

<p>
  We encourage you to read this Privacy Policy and our Terms of Service carefully before using <%=appName%> and services.
</p>

<p>
  By continuously using <%=appName%>, you agree to the terms of this Privacy Policy and trust us with your personal information.
</p>
